.profile-classes {
  width: 33.875rem;
  height: 12.5rem;
  background-color: #ffeac7;
  box-shadow: 0.5rem 0.5rem 0.5rem #a9a8a8;
  position: relative;
}

.classes-editbutton {
  float: right;
  padding: 1rem;
}

.career-classes {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
}

.courses p {
  margin: auto;
  text-align: center;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: normal;
}
