/**
 * ! Styles for the Compressed Coll component
 * * OvidioSantoro - 2022-02-16
 */

.compressed-container {
  height: 13.3125rem;
  width: 44.4rem;
  border-radius: 1rem;
  padding: 1%;
  background-color: #ecf5ea;
  filter: drop-shadow(0px 1rem 0.25rem rgba(0, 0, 0, 0.25));
  display: grid;
  grid-template-columns: 1fr 1.4fr 2fr 5.5fr 1.3fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-template-areas:
    "like avatar name title menu"
    "like text text text text"
    "like thread . comment share";
}

.compressed-avatar {
  grid-area: avatar;
  aspect-ratio: 1/1;
  width: 90%;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer;
}

.compressed-avatar .circular-portrait {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0;
  background-color: transparent;
}

.compressed-avatar .circular-portrait img.portrait-img {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0;
}

.compressed-name {
  grid-area: name;
  margin-left: 0.5rem;
  align-self: center;
  cursor: default;
}

.compressed-name p {
  margin: 0;
}

.compressed-secondary {
  font-size: 0.7rem;
  color: gray;
}

.compressed-title {
  grid-area: title;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
}

.compressed-menu {
  grid-area: menu;
}

.compressed-postit {
  position: absolute;
  border-radius: 1rem;
  margin: 0;
  background-color: transparent;
  transform: translate(1.3125rem, -1.875rem);
}

.compressed-text {
  grid-area: text;
  border-radius: 1rem;
  background-color: #fafafa;
  padding: 5%;
  overflow: scroll;
  cursor: pointer;
}
.compressed-text::-webkit-scrollbar {
  display: none;
}

.compressed-like {
  grid-area: like;
  align-self: center;
  margin-left: 15%;
}

.compressed-thread {
  grid-area: thread;
  cursor: default;
  align-self: end;
}

.compressed-comment {
  grid-area: comment;
  width: 100%;
  display: inline-flex;
  align-items: flex-end;
  place-content: flex-end;
  padding-right: 2%;
}

.compressed-comments {
  cursor: pointer;
  margin-right: 4%;
}

.compressed-favs {
  display: flex;
  margin-left: 0.5rem;
}

.compressed-favers {
  cursor: pointer;
  margin-left: 0.5rem;
}

.compressed-share {
  grid-area: share;
  cursor: default;
  align-self: flex-end;
  text-align: center;
}
