.profile-userinfo {
  width: 30rem;
  height: 7.5rem;
  background-color: #ecf5ea;
  box-shadow: 0.5rem 0.5rem 0.5rem #a9a8a8;
  position: relative;
}

.userinfo-editicon {
  float: right;
  padding: 1rem;
}

.userinfo-email p {
  font-size: 1rem;
  padding: 1rem;
  font-family: Poppins;
  font-weight: normal;
  text-decoration-line: underline;
  text-align: center;
}

.userinfo-container {
  margin-top: 1rem;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 2rem;
  font-family: Poppins;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "member date . karma counter";
}

.userinfo-member {
  grid-area: member;
  align-self: left;
  font-weight: bold;
  cursor: default;
}

.userinfo-date {
  grid-area: date;
  align-self: left;
  cursor: default;
}

.userinfo-karma {
  grid-area: karma;
  align-self: left;
  font-weight: bold;
  cursor: default;
}

.userinfo-counter {
  grid-area: counter;
  align-self: left;
  cursor: default;
}
