/**
 * ! Styles for the Profile Side Menu component
 * * Keikeka - 2022-02-13
 */

  
.profilesidemenu-container {
  height: 24.188rem;
  width: 15.75rem;
  border-radius: 0.8rem;
  padding: 1%;
  background-color: #FFEAC7;  
 }
 
.collapse-menu{
  float: right;
  cursor: pointer; 
}

.profilesidemenu-avatar {  
  border-radius: 100%;  
  width: 9rem;
  height: 9rem;   
  background-color: rgb(71, 71, 71);  
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  cursor: pointer;   
}

.profilesidemenu-firstsection {
  text-align: center;  
}

.profile-name {    
  margin: 0;
  font-size: 1.2rem;    
  font-family: Fanwood Text;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  cursor: default;
}

.profile-college {
  margin: 0;
  font-size: 0.80rem;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 0.80rem;  
  cursor: default;
}

.profile-description {
  margin: 0;  
  font-size: 0.60rem;
  padding: 2%;
  font-family: Poppins;
  font-style: normal;
  font-size: 0.60rem;
  letter-spacing: -0.011em;
  cursor: default;
}

.profile-secondsection {  
  border-radius: 3%; 
  font-family: Poppins;
  font-style: normal;
  font-size: 0.80rem;
  letter-spacing: -0.011em; 
  text-align: center;
}
