.profile-socialmedia {
  width: 12.5rem;
  height: 2.5rem;
  background-color: #ecf5ea;
  box-shadow: 0.5rem 0.5rem 0.5rem #a9a8a8;
  position: relative;
}

.button-socialmedia {
  height: 2rem;
  width: 2rem;
  float: left;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.button-socialmedia:hover {
  cursor: pointer;
}

.socialmedia-content {
  font-size: 1rem;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 5rem;
  position: absolute;
  cursor: default;
}
