.tag-shape {
  position: relative;
}

.tag-shape span {
  font-family: "Poppins";
  font-size: 0.875rem;
  z-index: 100;
  
  inline-size: -webkit-fill-available;
  width: min-content;
}

.span-container {
position: absolute;
  transform: translate(0.1rem, -1.92rem);
  width: 6rem;
  text-align: center;
}