.colleagues-side-menu {
  background-color: #ffeac7;
  width: 15.75rem;
  height: 24.375rem;
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.colleagues-side-menu .button-collapse {
  position: absolute;
  transform: translate(6.15rem, .3rem) scale(1.5);
}

.colleagues-side-menu h3 {
  margin-top: 0.5rem;
  letter-spacing: 0.3em;
  font-size: 1.5rem;
  font-family: "Fandwood Text";
  font-weight: normal;
}

.colleagues-side-menu h4 {
  margin: 0.25rem;
  font-size: 0.875rem;
  font-family: "Quicksand";
}

.colleagues-side-menu .colleagues {
  height: min-content;
  max-height: 32%;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #053539 transparent;
  font: -webkit-small-control;
  margin-bottom: 0.1rem;
  overflow-y: hidden;
}

 ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.colleagues::-webkit-scrollbar {
  height: 0.35rem;
}

.colleagues::-webkit-scrollbar-track {
  background: transparent;
}

.colleagues::-webkit-scrollbar-thumb {
  background-color: #053539;
  border-radius: 1.25rem;
  border: none;
}

.colleagues-side-menu hr {
  width: 14.75rem;
  margin: auto;
  margin-left: 0.5rem;
}

.colleagues-side-menu .classes {
    overflow-y: scroll;
    max-height: 43.5%;
}

.colleagues-side-menu .classes::-webkit-scrollbar {
  width: 0.35rem;
}

.colleagues-side-menu .classes::-webkit-scrollbar-track {
  background: transparent;
}

.colleagues-side-menu .classes::-webkit-scrollbar-thumb {
  background-color: #053539;
  border-radius: 1.25rem;
  border: none;
}

.colleagues-side-menu .classes ul {
  margin: auto;
  margin-left: 0.35rem;
}

.colleagues-side-menu .classes ul+ul {
  margin-top: 1rem;
}

