.resources-menu {
  width: 15.75rem;
  height: 24.25rem;
  border-radius: 0.5rem;
  padding: 1.875rem 1.5625rem 1.875rem 1.5625rem;
  overflow: hidden;
  position: relative;
  background-color: #ffeac7;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.resources-container {
  overflow: scroll;
  height: 18.125rem;
}

.resources-container::-webkit-scrollbar {
  display: none;
}

.resources-title {
  // TODO: Change this font with Fanwood when we have it imported
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
}

.resources-menu hr {
  margin-top: 2rem;
  margin-bottom: 0;
}

.resources-list {
  text-align: -webkit-center;
}

.resources-hr {
  margin-top: 0 !important;
}

.resources-collapse {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
