/*
! Register Card STYLES
* AslanSN - 2022-03-07
*/
.register-card-view {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  display: flex;

  & .register-card-container {
    width: 53rem;
    height: 59rem;
    background-color: #ffeac7;
    display: grid;
    align-content: space-evenly;
    margin: auto;
    border-radius: 5rem;
    text-align: center;
    justify-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 1.6rem 2.5rem rgba(0, 0, 0, 0.15);

    & h1 {
      font-weight: 900;
      font-size: 3.44rem;
      color: #005555;
      cursor: default;
      &::selection {
        background-color: none !important;
      }
    }

    & input {
      width: 42.5rem;
      font-size: 2.25rem;
      background-color: #e4e4e4;
      border: none;
      border-radius: 1.25rem;
      padding: 1rem;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      caret-color: #016868;

      &:hover {
        background-color: #dadada;
      }

      &::placeholder {
        color: #817d7d;
      }

      &.pass {
        width: 20.875rem;
        font-size: 2rem;
        &:first-child {
          margin-right: 0.75rem;
        }
      }
    }

    & .university-container .custom-selector select {
      width: 20.875rem;
      font-size: 2rem;
      padding-right: 1.7rem;
      padding-left: 0.7rem;

      &.select#faculty {
        margin-left: 0.75rem;
      }
    }

    & .custom-selector {
      position: relative;

      &::after {
        content: "";
        border-width: 0.6rem;
        border-style: solid;
        border-color: transparent;
        border-top-color: #005555;
        display: inline-block;
        position: absolute;
        top: 2.5rem;
        right: 0.5rem;
        border-radius: 0.25rem;
      }

      & select {
        width: 42.5rem;
        display: inline-flex;
        font-size: 2rem;
        padding: 1rem;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #e4e4e4;
        border: none;
        border-radius: 1.25rem;
        outline: none;
        cursor: pointer;
        position: relative;
        flex: 1;
        font-family: "Quicksand", sans-serif;

        &.select:hover{
        background-color: #dadada;
        }
      }
    }
  }
}
