/**
 * ! Global Styles for the buttons
 * * OvidioSantoro - 2022-02-01
 */

/**--------------------------------
* TODO: DELETE
* ! DELETE THIS - TESTING DIV
*/
.testing-div {
  margin: 25%;
}
// ---------------------------------

.button-coll {
  height: 30px;
  width: 35px;
  color: rgba(206, 188, 181, 1);
  stroke: rgba(3, 63, 89, 1);
  stroke-width: 20px;
  align-self: end;
}

.button-coll:hover {
  color: rgba(3, 63, 89, 0.6);
  cursor: pointer;
}

.button-coll:active {
  color: rgba(3, 63, 89, 1);
}

.button-feed {
  height: 5vh;
  aspect-ratio: 1/1;
  border-radius: 1vh;
  margin-right: 1.5vw;
  text-align: center;
}

.button-feed .button-icon {
  height: 100%;
  width: auto;
}

.button-feed:hover {
  background-color: rgba(115, 115, 115, 0.25);
  cursor: pointer;
}

.button-feed:active {
  background-color: rgba(115, 115, 115, 0.75);
}

.button-new {
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 10px;
  text-align: center;
  padding: 0.3125rem;
  border: 2px dotted black;
  margin: 1rem;
}

.button-new .button-icon {
  height: 100%;
  width: auto;
}

.button-new:hover {
  background-color: rgba(115, 115, 115, 0.25);
  cursor: pointer;

  .new-photo-plus {
    fill: rgba(206, 188, 181, 1);
  }
}

.button-new:active {
  background-color: rgba(115, 115, 115, 0.75);
}

.button-new .new-photo-plus {
  stroke: black;
  stroke-width: 1;
  fill: white;
}
