/**
 * ! Styles for the Coll component
 * * OvidioSantoro - 2022-02-09
 */

.test {
  margin: auto;
}

.coll-container {
  height: 44.72vh;
  width: 37vw;
  border-radius: 3%;
  padding: 1%;
  background-color: #ecf5ea;
  display: grid;
  grid-template-columns: 1fr 1.5fr 3.5fr 1.25fr;
  grid-template-rows: 1fr 1fr 2fr 1fr 0.5fr;
  grid-template-areas:
    "avatar name title menu"
    ". text text text"
    "like text text text"
    ". text text text"
    ". thread comment share";
}

.coll-avatar {
  // Placeholder until the avatar component is fixed
  grid-area: avatar;
  aspect-ratio: 1/1;
  justify-self: center;
  background-color: green;
  border-radius: 100%;
}

.coll-name {
  grid-area: name;
  align-self: center;
}

.coll-name p {
  margin: 0;
}

.coll-title {
  grid-area: title;
  align-self: center;
  font-size: 1.2rem;
}

.coll-menu {
  grid-area: menu;
  width: 33%;
  height: 80%;
  border-radius: 5%;
  margin: auto;
  background-color: black;
}

.coll-text {
  grid-area: text;
  border-radius: 3%;
  background-color: #fafafa;
}

.coll-like {
  grid-area: like;
}

.coll-text p {
  margin-bottom: 5%;
}

.coll-thread {
  grid-area: thread;
}

.coll-comment {
  grid-area: comment;
}

.coll-share {
  grid-area: share;
}
