.circular-portrait{
    width: 3rem;
    height: 3rem;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color:transparent;
    margin: 0rem;
}

.circular-portrait img.portrait-img{
    width: 3rem;
    height: max-content;
}