.profile-socialmediatext {
  width: 17.938rem;
  height: 2.875rem;
  background-color: #ecf5ea;
  box-shadow: 0.5rem 0.5rem 0.5rem #a9a8a8;
  position: relative;
}

.socialmediatext {
  font-size: 1rem;

  font-family: Poppins;
  font-weight: bold;
  text-align: left;
  float: left;
  margin-left: 1rem;
  margin-top: 0.7rem;
  cursor: default;
}

.socialmediatext-content {
  font-size: 1rem;
  font-family: Poppins;
  font-weight: normal;
  text-align: right;
  float: right;
  margin-left: 5rem;
  margin-right: 1rem;
  margin-top: -2.5rem;
  cursor: default;
}
