/*
! Log-in Card styles
* AslanSN - 2022-03-05
*/
.login-card {
  height: 43.25rem;
  width: 42.625rem;
  margin-bottom: 0.2rem;
  background-color: rgba(206, 226, 203, 1);
  border-radius: 3.125rem;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);

  & .container {
    margin: auto;
    margin-top: 1rem;

    & input[type="email"], input[type="password"] {
      border: none;
      border-radius: 1.25rem;
      width: 38.0625rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      -webkit-appearance: none;
      // font-family: "Quicksand";
      font-size: 3rem;
      outline: none;
      caret-color: #016868;

      &::placeholder {
        text-align: center;
        color: rgba(148, 148, 148, 1);
      }

      &:first-child {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }

    & .login-button {
      margin-top: 2.5rem;
      // margin-bottom: 1rem;
    }

    & .pass-container {
      width: 38rem;
      display: grid;
      grid-template-columns: auto auto;
      text-align: center;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;

      & .pass-recovery {
        align-self: center;
        text-align: center;
        font-size: 1.875rem;
        text-decoration: none;
        color: rgba(3, 63, 89, 1);
        text-align-last: right;
      }

      & label {
        margin-left: 2rem;
        text-align: end;
      }
    }

    & hr {
      border: 0.25rem solid #d77716;
      border-radius: 0.24rem;
    }

    & .create-account-button {
      margin-top: 1.5rem;
    }
  }
}
