.button-mycolls {
  height: 45px;
  width: 140px;
  border-radius: 0.5rem;
  text-align: left;
  padding: 8px;
  background-color: rgba(115, 115, 115, 0.25);
  cursor: pointer;
}

.button-mycolls .button-icon {
  height: 100%;
  width: auto;
  color: #053539;
}

.button-mycolls:hover {
  box-shadow: 0.2rem 0.2rem 0.2rem #929292;
}

.button-mycolls:active {
  background-color: #A9A8A8;
}

.mycolls-title {  
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #3d3c3c;
  display: inline-flex;
  vertical-align: bottom;
  margin-left: 1.2rem;
}

