$elements: 4;

.classes-container {
  position: relative;
  margin: 0.25rem;
  width: 7rem;
  height: 2.5rem;
  background-color: rgb(250, 124, 124);
  border-radius: 0.3rem;
  cursor: pointer;
  list-style: none;
  transform: scale();
}

.classes-container span {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  transform: translate(-1rem, -0.25rem);
  position: absolute;
  z-index: ($elements * 20);
}

.classes-container ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}

.classes-container li {
  transform: translateY(2rem);
  position: absolute;
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 0.6rem;
  padding: 0;
  
}

@for $i from 1 through $elements {
  .classes-container li:nth-child(#{$i}) {
    transform: translateX(4.54rem / ($elements) * ($i - 1));
    z-index: 10 * $i;
    
  }
}

//TODO: Make it responsive while there is 2 or less $elements
// @if ($elements = 2) {
//         .classes-container li:nth-child(#2){
//             transform: translate ( 2.0rem);
//         }
//     }
