.button-dislike {
  margin-left: 2rem;
  border-radius: 10px;
  text-align: center;
  width: min-content;
  height: min-content;
  transition: transform 0.35s;

  .dislike-awaken {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    width: 55px;
    height: 55px;
  }
}

.button-dislike:hover {
  width: min-content;
  transform: scale(1.3, 1.3);

  .dislike-awaken {
    display: inline;
    height: 70px;
    width: 70px;
  }

  .dislike-slept {
    display: none;
  }
}

.button-dislike:active {
  transform: scale(1.7, 1.7);
}