.button-dislike {
  margin-left: 2rem;
  border-radius: 10px;
  text-align: center;
  width: min-content;
  height: min-content;
  transition: transform 0.35s;

  .undisliked-hand {
    fill: #cebcb5;
  }

  .undisliked-leaf {
    fill: #cebcb5;
  }

  .disliked-hand {
    fill: #033f59;
  }

  .disliked-leaf {
    fill: #f4ac36;
  }
}

.button-dislike:hover {
  width: min-content;
  transform: scale(1.3, 1.3);
}

.button-dislike:active {
  transform: scale(1.7, 1.7);
}
