.resource {
  width: 12.625rem;
  height: 1.9rem;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  padding: 0.1rem;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid black;
}

.resource-user {
  font-weight: bold;
}

.resource-class {
  font-weight: bold;
  color: red;
}

.resource-file {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
