.message-to {
    font-size: 2.25rem;
    width: 88rem;
    height: min-content;
    padding: 0.5rem;
    background-color: #9AC5C3;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    border: none;
  
    & .name {
      padding-left: 3.5rem;
    }
  
    & .date {
      margin-right: 2rem;
    }
  
    // &:hover,
    // &::selection {
    //   background-color: rgba(154, 197, 195, 1);
    // }
  }