/*
!VIEW -> MESSAGES Styles
* AslanSN - 2022-03-08
*/
.messages-view-container {
  display: grid;
  grid-template-columns: 20vw 1fr;
  height: 80vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-row-gap: 2rem;
  background-color: #FFF4E2;

  & .button-ucolllogo {
    width: 17rem;
    height: 11.375rem;
    border-radius: 3rem;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  }

  & .header {
    width: 88rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2rem;

    & .row-1 {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
    }

    & .row-2 {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0;
      align-items: end;

      & .col-1 {
        display: inline-grid;
        width: 10vw;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: center;
      }

      & .col-2 {
        justify-self: end;
        display: flex;
        justify-items: start;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }


  & .messages-tags {
    grid-column-start: 1;
    height: 30rem;
    width: 21rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;  
    justify-content: space-between;
    margin-top: 3rem;

    & .tag-shape {
      & .span-container {
        cursor: pointer;
        top: 1.9rem;
        left: -0.1rem;
        border-radius: 10%;
        width: 14.5rem;
        height: 5.5625rem;
        display: flex;
        justify-content: center;

        &:hover {
          //TODO: Change this attribute and do it by JSX
          background-color: rgba(2, 123, 123, 0.7);
        }
      }

      & span {
        font-size: 2.25rem;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
    }
  }

  & .messages-container {
    width: 88rem;
    grid-column-start: 2;
    height: 45vh;
    display: grid;
    row-gap: 2rem;
  }
}
