/*
! Landing Page Styles
* AslanSN - 2022-03-05
*/
.landing-page {
  background-color: #FFEAC7;
}
.landing-page .button-ucolllogo {
  width: 68.5625rem;
  border-radius: 6.25rem;
  filter: drop-shadow(0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
}
