.button-like {
  margin-left: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  width: min-content;
  height: min-content;
  transition: transform 0.35s;

  .unliked-hand {
    fill: #cebcb5;
  }

  .unliked-leaf {
    fill: #cebcb5;
  }

  .liked-hand {
    fill: #033f59;
  }

  .liked-leaf {
    fill: #1fa459;
  }
}

.button-like:hover {
  width: min-content;
  transform: scale(1.3, 1.3);
}

.button-like:active {
  transform: scale(1.7, 1.7);
}
