.button-like {
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  border: 2px dotted black;
  width: min-content;
  height: min-content;

  .like-awaken {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    width: 55px;
  }

  .wow1 {
    display: none;
    position: relative;
    z-index: 1000;
    overflow: visible;
    width: 30px;
    height: 30px;
    transition: width 0.35s, height 0.35s cubic-bezier(0.755, 0.05, 0.855, 0.06)
  }
}

.button-like:hover {
  background-color: rgba(115, 115, 115, 0.25);
  width: min-content;

  .like-awaken {
    display: inline;
    animation-name: like-hover;
    animation-duration: 0.35s;
    height: 70px;
    width: 70px;
  }

  .like-slept {
    display: none;
  }
}

@keyframes like-hover {
  from {
    height: 55px;
    width: 55px;
  }
  to {
    height: 70px;
    width: 70px;
  }
}

.button-like:active {
  background-color: rgba(115, 115, 115, 0.75);

  .wow1 {
    position: absolute;
    display: inline;
    width: 70px;
    height: 70px;
    // animation-name: like-active;
    // animation-duration: 0.35s;
    

    // @keyframes like-active {
    //   0% {

    //     opacity: 0%
    //   }
    //   50% {
    //     opacity: 100%
    //   }
    //   100% {
    //     opacity: 0%;
    //   }
    // }
  }
}
