.button-ucolllogo {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #eeeaea;
  border-radius: 1rem;
  width: 16rem;
  cursor: pointer;
}

.button-ucolllogo:hover {
  box-shadow: 5px 5px 5px #eeeaea;
  width: 16rem;
}

.button-ucolllogo:active {
  box-shadow: inset 3px 3px #eeeaea;
}

.button-ucolllogo img {
  width: 25vh;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
