.message-display-container {
  width: 88.75rem;
  height: 42.3rem;
  background-color: #dbf2d8;
  border-radius: 1.875rem 0.5rem 0.5rem 1.875rem;
  padding: 2rem;
  font-size: 1.5rem;
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #053539;
    border-radius: 1.25rem;
    border: none;
  }
}
