/**
 * ! Styles for the Coll component
 * * OvidioSantoro - 2022-02-09
 */

.test {
  margin: auto;
  margin-top: 10vh;
}

.coll-constructor {
  height: 47.25rem;
  width: 76.5rem;
  border-radius: 1rem;
  padding: 1%;
  background-color: #e1c5d9;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
  display: grid;
  grid-template-columns: 1fr 5.25fr 2.1fr;
  grid-template-rows: 1fr 3.5fr 1fr;
  grid-template-areas:
    ". title selector"
    "buttons content content"
    ". cancel send";
}

.coll-constructor-title {
}

.coll-constructor-selector {
}

.coll-constructor-buttons {
}

.coll-constructor-content {
}

.coll-constructor-cancel {
}

.coll-constructor-send {
}
